 @media screen and (max-width:600px) {
    .outer-layer {
        margin-left: 0px;
    }
    .home-image {
        width: 100%;
        padding-left: 4rem;
    }
    .row {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .card-box {
        width: 100%;

    }
    .social-media {
        width: 100%;
    }
    .person-inner-box {
        flex-direction: column;
        padding: 10px 15px;
    }
    .withdraw-ref-btn {
        width: 100%;
        padding: 0px 0px;
        font-size: 10px;
    }
}
 @media (min-width:600px) and (max-width:768) {
    .card-box {
        width: 100%;
    }
 }